@CHARSET "UTF-8";
body {
	background: #f2f2f2;
}
.Membership {
		background: url("../images/Membership.png");
}
.double {
			height:60px;
			width:320px;
			margin:0 auto;
			background: url("../images/bgimg26.png");
}
.doubleImg {
	height: 350px;
	width: 350px;
	
}
.MembershipServiceDivRed {
	color: white;
	background-color:#FF8C69;
	text-align: center;
	font-family: 黑体;
}
.MembershipServiceDivWhite{
	color: white;
	background-color:#D8BFD8;
	text-align: center;
	font-family: 黑体;
}
hr{
	width: 200px;
	border-color: white;
}
a{
	text-decoration:none;
	color:#FF7256;
}
a:HOVER {
	color: #FF7256;
}
thead{
	background: #ff95a3;
}
td{
	border:dotted #ff95a3; 
	border-width:0px 1px 1px 0px; 
	padding-left:30px;
	height: 40px;
	font-family: 黑体;
}
table{
	width:100%;
	border:dotted #ff95a3; 
	border-width:1px 0px 0px 1px;
}